@using Website.Services
@{
    var currentController = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var currentAction = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}
<!-- Preloader -->
<div id="preloader">
    <div class="spinner">
        <div class="bounce1"></div>
    </div>
    <!-- /spinner -->
</div>
<!-- /Preloader ends -->
<nav id="main-nav" class="navbar-expand-xl fixed-top">
    <div class="row">
        <!-- Start Top Bar -->
        <div class="container-fluid top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Start Contact Info -->
                        <ul class="contact-details float-left">
                            <li><i class="fa fa-map-marker"></i><text class="globalAddress">Pet Street 123 - New York</text></li>
                            <li><i class="fa fa-envelope"></i><text class="globalEmail">eric@dogtortraining.com</text></li>
                            <li><i class="fa fa-phone"></i><text class="globalPhone">(949) 354-2047</text></li>
                        </ul>
                        <!-- End Contact Info -->
                        <!-- Start Social Links -->
                        <ul class="social-list float-right list-inline">
                            <li class="list-inline-item"><a class="globalFacebook" title="Facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a class="globalTwitter" title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a class="globalInstagram" title="Instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <!-- /End Social Links -->
                    </div>
                    <!-- col-md-12 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- End Top bar -->
        <!-- Navbar Starts -->
        <div class="navbar container-fluid">
            <div class="container ">
                <!-- logo -->
                <a class="navbar-brand" href="/">
                    <i class="flaticon-dog-20"></i><span><text class="globalSiteName">Dogtor K9</text></span>
                </a>
                <!-- Navbartoggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggle-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <!-- menu item -->
                        <li class="nav-item @(currentController.Equals("Home") && currentAction.Equals("Index") ? "active" : "")">
                            <a class="nav-link" href="/">
                                Home
                            </a>
                        </li>
                        <!-- menu item -->
                        @*<li class="nav-item @(currentController.Equals("Home") && currentAction.Equals("Service") ? "active" : "")">
                            <a class="nav-link" href="@Url.RouteUrl("Service")">
                                Service
                            </a>
                        </li>*@
                        <li class="nav-item dropdown @(currentController.Equals("Home") && currentAction.Equals("Service") ? "active" : "")">
                            <a class="nav-link dropdown-toggle" href="#" id="services-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Services
                            </a>
                            <div class="dropdown-menu" aria-labelledby="services-dropdown">
                                @if (ViewBag.Services != null && ViewBag.Services.Count > 0)
                                {
                                    foreach (var item in ViewBag.Services)
                                    {
                                        <a class="dropdown-item" href="@Url.RouteUrl("Service",new { id=item.Id,name=WebsiteExtension.Slug(item.Name)})">@item.Name</a>
                                    }
                                }
                            </div>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item @(currentController.Equals("Home") && currentAction.Equals("About") ? "active" : "")">
                            <a class="nav-link" href="@Url.RouteUrl("AboutUs")">
                                About
                            </a>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item @(currentController.Equals("Home") && currentAction.Equals("Video") ? "active" : "")">
                            <a class="nav-link" href="@Url.RouteUrl("Video")">
                                Videos
                            </a>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item @(currentController.Equals("Home") && currentAction.Equals("Contact") ? "active" : "")">
                            <a class="nav-link" href="@Url.RouteUrl("ContactUs")">
                                Contact
                            </a>                            
                        </li>
                    </ul>
                    <!--/ul -->
                </div>
                <!--collapse -->
            </div>
            <!-- /container -->
        </div>
        <!-- /navbar -->
    </div>
    <!--/row -->
</nav>
<!-- /nav -->