<div class="container bottom-block-padding">
    <h3 class="text-center">What our clients say</h3>
    <div class="col-md-12">
        <div id="owl-testimonial" class="owl-carousel owl-theme">
            <!-- testimonial -->
            @if (ViewBag.ReviewResponse.Total != null && ViewBag.ReviewResponse.Total > 0)
            {
                foreach (var item in ViewBag.ReviewResponse.Reviews)
                {
                    <div class="testimonial">
                        <div class="content">
                            <p class="description">
                                @item.Text
                            </p>
                        </div>
                        <!-- /content -->
                        <div class="testimonial-pic">
                            <img src="@item.User.ImageUrl" class="img-fluid" alt="">
                        </div>
                        <!-- /testimonial-pic -->
                        <div class="testimonial-review">
                            <h5 class="testimonial-title"><a target="_blank" href="@item.Url">@item.User.Name</a></h5>
                            <span>@item.Rating *</span>
                        </div>
                        <!-- /testimonial-review -->
                    </div>
                }
            }
            
        </div>
        <!-- /owl-testimonial -->
    </div>
    <!-- /col-md-12 -->
</div>